@{
    ViewData["Title"] = "Home Page";
    var role = ViewBag.Role as string;
}
<h2>Home Page</h2>

<ul>
    <li><a asp-controller="Account" asp-action="Index" >Products</a></li>
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
</ul>
