@{
    ViewData["Title"] = "Kullanıcı Paneli";
}
<h2>Hoş geldin,@ViewBag.UserName!</h2>
<p>Buradan sipariş oluşturabilir ve siparişlerini görüntüleyebilirsin</p>

<a asp-controller="Account" asp-action="Logout">Çıkış yap</a>
