@{
    ViewData["Title"] = "Home Page";
    var role = ViewBag.Role as string;
}

<h2>Home Page</h2>

<p>Welcome , ViewBag.@UserName(role)</p>
<ul>
        <li><a asp-controller="Product" asp-action="Index">Ürünlerim</a> </li>

        <li><a asp-controller="Account" asp-action="Logout">Çıkış yap</a></li>
</ul>

